name : 'Infrastructure as Code - Terraform CI/CD'

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Choose an action to perform'
        required: true
        default: 'plan'
        type: choice
        options:
          - plan
          - apply
          - destroy
        
env:
  TF_IN_AUTOMATION: true
  TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
  TF_WORKSPACE: ${{ secrets.TF_WORKSPACE }}
  TF_CLOUD_ORG: ${{ secrets.TF_CLOUD_ORG }}

permissions:
  contents: read
  

jobs:
  infrastructure-setup-using-terraform:
    name : Terraform ${{ github.event.inputs.action }}
    runs-on: ubuntu-latest
    environment: production
  
    defaults:
      run:
           shell: bash
           working-directory: ./Terraform

  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.5.7"
          terraform_wrapper: true
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name : cache terraform modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.terraform/cache
          key: terraform-${{ hashFiles('**/*.tf') }}
          restore-keys: terraform-

      - name: Terraform Init
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform apply -auto-approve tfplan